*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.card-cont{
    height: 43vh;
}

.proj-card{
    cursor: pointer;
    /* width: 100%;
    height: auto; */
    /* width: 30vw;
    max-height: 100%; */
    /* height: 75vh; */
}
/* .proj-img{
    max-width: 100%;
    
    position: relative;
} */
.front, .back{
    width: 100%;
    height: 100%; 
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: #F3F2EF;
    transform: perspective(600px) rotateY(180deg);
}

.proj-desc{
    color: #3E4E6D;
    text-align: center;
    width: 100%;
    font-size: 0.7em;
}
.sm{
    margin: 20px 0;
}

.sm p{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #3E4E6D;
    transition: 0.4s;
}

.proj-card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.proj-card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}