*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card-cont{
    height: 40vh;
    margin: 0%;
    padding: 0%;
    display: table-cell;
    /* flex: 1 1 auto; */
}
.project-list{
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;    
    width: 100%;
    display: table;
    table-layout: fixed;
}

.proj-card{
    cursor: pointer;
    
}

.front{
    display: inline-table;
    width: 100%;
    height: 81.1%; 
    overflow: hidden;
    /* backface-visibility: hidden; */
    position: absolute;
    left: 0%;
    transition: transform .6s;
}

.back{
    display: inline-table;
    width: 100%;
    min-height: 81.1%; 
    overflow: hidden;
    /* backface-visibility: hidden; */
    position: absolute;
    left: 0%;
    /* transition: transform .6s; */
}

.front img{
    height: 100%;
}

/* .front{
    transform: perspective(600px) rotateY(0deg);
} */
.back{
    background: #3e4e6d;
    opacity: 0;
    transition: opacity 1.5s;
    /* transform: perspective(600px) rotateY(180deg); */
    /* max-width: 100%; */
}

.proj-desc{    
    width: 100%;
    font-size: 0.7em;
    color: #f2f2ef;
}

.proj-desc .title{
    color: #ffdd3e;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    font-weight: 700;
}

.proj-desc .descript{
    text-align: justify;
    margin: 5%;
}

.proj-desc .tech{
    text-align: justify;
    margin: 5%;
}
.sm{
    margin: 20px 0;
    overflow: hidden;
    margin: 5%;
}

.sm p{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* transition: 1s; */
    
}
.logoLink {
    position: absolute;
    bottom: 1px;
    right: 5%;
}

.logoLink a{
    margin-left: 12%;
}

/* .proj-card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
} */
.proj-card:hover > .back{
    /* transform: perspective(600px) rotateY(0deg); */
    opacity: .8;
    /* border: solid 1px #f3f2ef; */
}
